Repository shonk-software/corewar, pull requests merged in 2024-12, with the labels that each got.

#315 Fancy Junit Test output
  backend/api/build.gradle.kts
  backend/shork/build.gradle.kts
Labels: Backend/API, Backend/Interpreter

#320 [#317] Update spec: Add flag to lobby status endpoint that allows exclusion of game visualization data
  api-v1.md
Labels: documentation, Backend/API

#329 [#328] Fix game data not including instruction placement reads/writes…
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/test/kotlin/TestShork.kt
Labels: bug

#331 [#307] change get lobby status API response from 400 to 404 to match updated spec and adjust tests accordingly
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: bug, Backend/API

#324 310 add v1 endpoint to get lobby settings
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/InterpreterSettings.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Labels: Backend/API

#335 Add more tests
  backend/shork/src/main/kotlin/internal/instruction/Add.kt
  backend/shork/src/test/kotlin/compiler/CompilerE2E.kt
Labels: Backend/Interpreter

#338 312 add v1 endpoint to set lobby settings
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/domain/InterpreterSettings.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: Backend/API

#346 Add container instruction section to readme
  README.md
Labels: documentation, Infra
