Repository shonk-software/corewar, pull requests merged in 2024-11, with the labels that each got.

#159 [#158] Use Result in Api to handle errors gracefully
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Labels: Backend/API

#170 "Implement" NOP Instruction
  backend/shork/src/main/kotlin/internal/instruction/Nop.kt
  backend/shork/src/test/kotlin/instruction/TestNop.kt
Labels: Backend/Interpreter

#192 [#191] Fix jump not preventing program counter incrementing
  backend/shork/src/main/kotlin/internal/instruction/Jmp.kt
  backend/shork/src/test/kotlin/TestShork.kt
  backend/shork/src/test/kotlin/instruction/TestJmp.kt
Labels: bug, Backend/Interpreter

#193 [#0] Add additional test for spl
  backend/shork/src/test/kotlin/instruction/TestSpl.kt
Labels: Backend/Interpreter

#194 [#0] Fix program counter incrementation prevention flag not getting reset
  backend/shork/src/main/kotlin/internal/process/Process.kt
  backend/shork/src/test/kotlin/process/TestProcess.kt
Labels: Backend/Interpreter

#199 [#197] add github action that automatically unassigns people after 3 days
  .github/workflows/unassign-issues.yaml
Labels: Infra

#181 111 add v1 api endpoint to create a new lobby
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: Backend/API

#203 [#113] added a new submit code method for apiv1 alongside its tests
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: Backend/API

#234 [#132] implement sne instruction
  backend/shork/src/main/kotlin/internal/instruction/Sne.kt
  backend/shork/src/test/kotlin/instruction/TestSne.kt
Labels: Backend/Interpreter

#237 [#235] Fix SEQ.I Comparison to not compare address modes
  backend/shork/src/main/kotlin/internal/instruction/Seq.kt
  backend/shork/src/test/kotlin/instruction/TestSeq.kt
Labels: Backend/Interpreter

#236 [#68] implement SLT instruction
  backend/shork/src/main/kotlin/internal/instruction/Slt.kt
  backend/shork/src/test/kotlin/instruction/TestSlt.kt
Labels: Backend/Interpreter

#240 [#196] implement lobby state management
  frontend/app/src/TestFactories.ts
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/services/lobbyContext/LobbyContext.test.tsx
  frontend/app/src/services/lobbyContext/LobbyContext.tsx
  frontend/app/src/services/lobbyContext/LobbyContextHelpers.ts
Labels: Frontend

#252 [#227] Integrate Compiler into shork
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/main/kotlin/internal/compiler/Compiler.kt
Labels: Backend/Interpreter

#245 212-implement-apiv1-endpoint-for-listing-lobbies
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/LobbyStatus.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Labels: Backend/API

#274 [#273] change create lobby response format to match spec
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: bug, Backend/API

#281 [#279] changes playersJoined in GET /api/v1/lobby to actually return …
  api-v1.md
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Labels: Backend/API

#284 [#283] adjust get lobby status url to match spec
  backend/api/exampleRequests/lobbyStuffV1.http
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: bug, Backend/API

#286 [#285] submit code endpoint in v1 now expects body according to spec
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Labels: bug, Backend/API
